# https://editorconfig.org/

root = true

[*]
indent_style = space
indent_size = 4
tab_width = 8
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{bat,cmd,cs,csproj,ps1,reg,sln,theme}]
end_of_line = crlf

[*.{c,calc,go,h}]
indent_style = tab
indent_size = tab
tab_width = 4

[*.{diff,md,patch}]
trim_trailing_whitespace = false

[*.{htm,html,svelte,xml}]
indent_size = 1

[{*.{i,m,mk,s,txt},.gitconfig,Makefile*,crontab*,gitconfig}]
indent_style = tab
indent_size = tab

[*.{json,yaml,yml}]
indent_size = 2

[*.rs]
max_line_length = 99

[LICENSE,LICENSE.txt]
indent_style = space
indent_size = 5
max_line_length = 78
