[core]
	autocrlf = false
[include]
	path = ~/etc/gitconfig          # system-specific stuff
	path = ~/etc/secret/gitconfig   # secret stuff
[pull]
	rebase = false
[push]
	default = simple
	followTags = true
